<div class="profile w-100">
  <div class="info">
    <div class="container-fluid">
      <div class="row">
        <div class="row d-flex">

          <div class="row d-flex position-absolute">
            <div class="row editProfile" (click)="openUpdateForm()">
              <p><i class="fa fa-pencil" aria-hidden="true"></i></p>
            </div>
            <div class=" row editProfile mt-5" routerLink="/change-password">
              <p><i class="fa fa-lock" aria-hidden="true"></i></p>
            </div>
          </div>
          <div class="row editProfile" routerLink="/myOrders">
            <p><i class="fa fa-map-marker" aria-hidden="true"></i></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="imgCon">
            <img [src]="user.image" class="img" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex flex-column h-100 justify-content-center infoContent">
            <h2 class="mb-2">Hi, {{ user.firstName }}</h2>
            <!-- <h3>{{user|json}}</h3> -->
            <div class="tab">
              <i class="fa fa-envelope"></i>
              <span>{{ user.email}}</span>
            </div>
            <div class="tab">
              <i class="fa fa-map-marker"></i>
              <span>{{ user.username }}</span>
            </div>
            <div class="tab">
              <i class="fa fa-phone"></i>
              <span>{{ user.phoneNumber }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
