<div class="updatePage p-5">
    <div class="updateSection">
      <div class="container">
        <h2 class="pb-5 text-center">Update Your Password</h2>
        <form
          [formGroup]="passFormGroup"
          (ngSubmit)="changePassword()"
          class="myform p-3 m-auto"
          style="width: 75%"
        >

        <div>
            <label for="oldPassword" class="form-label">Old Password</label>
            <div style="position: relative">
              <input
                [type]="show"
                class="form-control"
                name="oldPassword"
                id="oldPassword"
                formControlName="oldPassword"
                [class.is-valid]="oldPassword?.valid"
                [class.is-invalid]="oldPassword?.invalid"
              />
              <i
                class="iconeye"
                [class]="eye"
                (click)="toggle()"
                aria-hidden="true"
              ></i>
            </div>
            <div
              class="alert alert-warning mt-1"
              [hidden]="oldPassword?.valid || oldPassword?.untouched"
            >
              <span *ngIf="oldPassword?.errors?.['required']"
                >old password is required</span
              >
              <span *ngIf="oldPassword?.errors?.['minlength']">
                Password must be at least 4 letters</span
              >
            </div>
          </div>
        <!-- begin of Password -->
            <div>
          <label for="newPassword" class="form-label">New Password</label>
          <div style="position: relative">
            <input
              [type]="show"
              class="form-control"
              name="newPassword"
              id="newPassword"
              formControlName="newPassword"
              [class.is-valid]="newPassword?.valid"
              [class.is-invalid]="newPassword?.invalid"
            />
            <i
              class="iconeye"
              [class]="eye"
              (click)="toggle()"
              aria-hidden="true"
            ></i>
          </div>
          <div
            class="alert alert-warning mt-1"
            [hidden]="newPassword?.valid || newPassword?.untouched"
          >
            <span *ngIf="newPassword?.errors?.['required']"
              >New Password is required</span
            >
            <span *ngIf="newPassword?.errors?.['minlength']">
             New Password must be at least 4 letters</span
            >
          </div>
        </div>
      <!-- end of Password -->
        <hr />
        <!-- begin of ConfirmNewPassword -->
           <div>
            <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
            <div style="position: relative">
              <input
                [type]="show"
                class="form-control"
                name="confirmNewPassword"
                id="confirmNewPassword"
                formControlName="confirmNewPassword"
                [class.is-valid]="
                confirmNewPassword?.valid && confirmNewPassword?.value == newPassword?.value
                "
                [class.is-invalid]="confirmNewPassword?.value != newPassword?.value"
              />
              <i
                class="iconeye"
                [class]="eye"
                (click)="toggle()"
                aria-hidden="true"
              ></i>
            </div>
            <div
              class="alert alert-warning mt-1"
              [hidden]="
              confirmNewPassword?.value == newPassword?.value || confirmNewPassword?.untouched
              "
            >
              <div *ngIf="confirmNewPassword?.value != newPassword?.value">
                Password must be matched
              </div>
            </div>
          </div>
        <!-- end of ConfirmPassword -->
          <br />

          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!passFormGroup.valid"
          >
            Update
          </button>
        </form>
      </div>
    </div>
  </div>
