<div class="ad">
  <img src="./../../../assets/ad.png" class="d-block w-100" alt="..." />
</div>
<app-carousel-component></app-carousel-component>

<app-area class="p-3 "></app-area>
<!-- Ads -->
<div class="container-fluid my-4" >

<div class="row gx-1"  >

<div class="col-3">
<a [routerLink]="['/Shop']">
  <img width="100%" src="https://k.nooncdn.com/cms/pages/20220705/278bc16b280948157f1ef19eb2acc969/en_dk_eg-mega-01.png" alt="/home-and-kitchen/eg-summerappliances" class="sc-crXcEl iMxqHU" >
</a>
</div>

<div class="col-3">
  <a [routerLink]="['/Shop']">
  <img  width="100%" src="https://k.nooncdn.com/cms/pages/20220629/7b8c2d12780719e591297ae0420857c9/en_dk_eg-mega-module-01.png" alt="/beauty-and-health/beauty/skin-care-16813/sun" class="sc-crXcEl iMxqHU">
  </a>
</div>
<div class="col-3">
  <a [routerLink]="['/Shop']">
  <img  width="100%" src="https://k.nooncdn.com/cms/pages/20220707/2e982422d7ce7fc680a2d64be0c5c65a/en_dk_eg-mega-module-02.png" alt="/fashion/women-31229/swimwear-megadeal-starting25-FA_03/?f[is_fbn]=1&amp;limit=50&amp;sort[by]=new_arrivals&amp;sort[dir]=desc" class="sc-crXcEl iMxqHU">
</a>
</div>
<div class="col-3">
  <a [routerLink]="['/Shop']">

  <img  width="100%" src="https://k.nooncdn.com/cms/pages/20220704/24b658763b9333a7ce57cb8136fab8cc/en_dk_eg-mega-01.png" alt="/eg-jul22-grocery" class="sc-crXcEl iMxqHU">
  </a>
</div>

</div>
</div>
<!-- Ads -->
<div class="container-fluid mb-3">
<h2 class="my-2"> {{"PEOPLE LIKED" | translate}}</h2>
</div>
<div class="container-fluid">
  <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex justify-content-around">
          <div class="card col-3  my-4 text-black">
            <p class="fw-bolder ms-2 mt-1"> | {{"New Products"|translate}}</p>
            <div class="row mx-auto d-flex justify-content-around">
              <a href="#">
                <img class="w-80 h-80" src="https://f.nooncdn.com/products/tr:n-t_240/v1653841036/N31809093A_1.webp" alt="Product 1">
              </a>
            </div>
          </div>
          <div class="card col-3  my-4 text-black">
            <p class="fw-bolder ms-2 mt-1">{{"Labtops | Up to 20%"|translate}}</p>
            <div class="row mx-auto d-flex justify-content-around">
              <a href="#">
                <img class="w-80 h-80" src="https://f.nooncdn.com/products/tr:n-t_240/v1660825910/N53343648A_1.webp" alt="Product 1">
              </a>
            </div>
          </div>
          <div class="card col-3  my-4 text-black">
            <p class="fw-bolder ms-2 mt-1"> {{"Watch Sale | Up to 50% off"|translate}}</p>
            <div class="row mx-auto d-flex justify-content-around">
              <a href="#">
                <img class="w-80 h-80" src="https://f.nooncdn.com/products/tr:n-t_240/v1633755064/N46215226A_2.webp" alt="Product 1">
              </a>
            </div>
          </div>
          <div class="card col-3 my-4 text-black">
            <p class="fw-bolder ms-2 mt-1">{{"Camera Sale | Up to 50% off"|translate}}</p>
            <div class="row mx-auto d-flex justify-content-around">
              <a href="#">
                <img class="w-80 h-80" src="https://f.nooncdn.com/products/tr:n-t_240/v1630843631/N49743991A_1.webp" alt="Product 1">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-around">
          <div class="card col-3  text-black">
            <p class="fw-bolder ms-2 mt-1">{{"Watch Sale | Up to 50% off"|translate}}</p>
            <div class="row mx-auto d-flex justify-content-around">
              <a href="#">
                <img class="w-80 h-80" src="https://f.nooncdn.com/products/tr:n-t_240/v1653304132/N51219502A_1.webp" alt="Product 1">
              </a>
            </div>
          </div>
          <div class="card col-3 text-black">
            <p class="fw-bolder ms-2 mt-1">{{"Mouse Sale | Up to 50% off"|translate}}</p>
            <div class="row mx-auto d-flex justify-content-around">
              <a href="#">
                <img class="w-80 h-80" src="https://f.nooncdn.com/products/tr:n-t_240/v1649582282/N31004477A_1.webp" alt="Product 1">
              </a>
            </div>
          </div>
          <div class="card col-3 text-black">
            <p class="fw-bolder ms-2 mt-1"> {{"Playstation | Up to 50% off"|translate}}</p>
            <div class="row mx-auto d-flex justify-content-around">
              <a href="#">
                <img class="w-80 h-80" src="https://f.nooncdn.com/products/tr:n-t_240/v1669308187/N40635117A_1.webp" alt="Product 1">
              </a>
            </div>
          </div>
          <div class="card col-3 text-black">
            <p class="fw-bolder ms-2 mt-1">{{"HiLook by HIKVISION Sale | Up to 50% off"|translate}}</p>
            <div class="row mx-auto d-flex justify-content-around">
              <a href="#">
                <img class="w-80 h-80" src="https://f.nooncdn.com/products/tr:n-t_240/v1669914533/N52792252A_1.webp" alt="Product 1">
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- Ads -->
<div class="container-fluid color">
  <div class="row  p-2 gx-1 my-2" >

    <div class="col-12">
      <img width="100%" src="../../../../assets/Electronic.avif" onclick="window.location.replace('/Shop')">
    </div>
    <div class="col-2">
      <img width="100%"src="https://f.nooncdn.com/products/tr:n-t_240/v1667497489/N47626990A_1.webp" >
    </div>
    <div class="col-2">
      <img width="100%"src="https://f.nooncdn.com/products/tr:n-t_240/v1667826501/N48739189A_1.webp" >
    </div>
    <div class="col-2">
      <img width="100%"src="https://f.nooncdn.com/products/tr:n-t_240/v1669724765/N40633047A_1.webp" >
      </div>
    <div class="col-2">
      <img width="100%"src="https://f.nooncdn.com/products/tr:n-t_240/v1666766047/N53360915A_1.webp" >
    </div>
    <div class="col-2">
      <img width="100%"src="https://f.nooncdn.com/products/tr:n-t_240/pzsku/ZAABA3C9F8481E33C358EZ/45/_/1663066568/414e4c16-2f0b-4dca-9704-2a90f17f1064.webp" >
  </div>
  <div class="col-2">
    <img width="100%"src="https://f.nooncdn.com/products/tr:n-t_240/v1644409357/N51993467A_1.webp" >
  </div>
  </div>
</div>
<div class="container-fluid my-3">
<h2 class="my-2">{{"All Products" | translate}}</h2>

<app-carousel></app-carousel>
</div>
<div class="container-fluid color">
  <div class="row  p-2 gx-1 my-2" >
    <div class="col-12 mb-3">
      <img width="100%" src="https://f.nooncdn.com/cms/pages/20221207/3aa2012e060f408782b7f92030164a62/en_dk_eg-title-05.png" onclick="window.location.replace('/Shop')">
    </div>
    <div class="col-2">
      <img width="80%" src="https://f.nooncdn.com/cms/pages/20221207/3aa2012e060f408782b7f92030164a62/en_dk_eg-mw-01.png" onclick="window.location.replace('/Shop')">
      </div>
      <div class="col-2">
        <img width="80%" src="https://f.nooncdn.com/cms/pages/20221207/3aa2012e060f408782b7f92030164a62/en_dk_eg-mw-05.png"onclick="window.location.replace('/Shop')">
      </div>
      <div class="col-2">
        <img width="80%" src="https://f.nooncdn.com/cms/pages/20221207/3aa2012e060f408782b7f92030164a62/en_dk_eg-mw-04.png" onclick="window.location.replace('/Shop')">
        </div>
        <div class="col-2">
          <img width="80%" src="https://f.nooncdn.com/cms/pages/20221207/3aa2012e060f408782b7f92030164a62/en_dk_eg-mw-02.png"onclick="window.location.replace('/Shop')">
          </div>
          <div class="col-2">
            <img width="80%" src="https://f.nooncdn.com/cms/pages/20221207/3aa2012e060f408782b7f92030164a62/en_dk_eg-mw-03.png" onclick="window.location.replace('/Shop')">
            </div>
            <div class="col-2">
              <img width="80%" src="https://f.nooncdn.com/cms/pages/20221207/3aa2012e060f408782b7f92030164a62/edit/en_dk_eg-mw-06.png" onclick="window.location.replace('/Shop')">
              </div>
            </div>
          </div>
<app-carousel-category></app-carousel-category>

<div class="container-fluid color">
  <div class="row  p-2 gx-1 my-2" >
    <div class="col-12 mb-3">
      <img width="100%" src="https://f.nooncdn.com/cms/pages/20221207/3aa2012e060f408782b7f92030164a62/en_dk_eg-title-04.png" onclick="window.location.replace('/Shop')">
      </div>
      <div class="col-2">
        <img width="80%" src="https://f.nooncdn.com/cms/pages/20221207/3aa2012e060f408782b7f92030164a62/en_dk_eg-ww-04.png"  onclick="window.location.replace('/Shop')">
     </div>
     <div class="col-2">
      <img width="80%" src="https://f.nooncdn.com/cms/pages/20221207/3aa2012e060f408782b7f92030164a62/en_dk_eg-ww-06.png" onclick="window.location.replace('/Shop')">
     </div>
     <div class="col-2">
      <img width="80%" src="https://f.nooncdn.com/cms/pages/20221207/3aa2012e060f408782b7f92030164a62/en_dk_eg-ww-05.png" onclick="window.location.replace('/Shop')">
      </div>
      <div class="col-2">
        <img width="80%" src="https://f.nooncdn.com/cms/pages/20221207/3aa2012e060f408782b7f92030164a62/en_dk_eg-ww-02.png" onclick="window.location.replace('/Shop')">
     </div>
     <div class="col-2">
      <img width="80%" src="https://f.nooncdn.com/cms/pages/20221207/3aa2012e060f408782b7f92030164a62/en_dk_eg-ww-03.png" onclick="window.location.replace('/Shop')">
  </div>
  <div class="col-2">
    <img width="80%" src="https://f.nooncdn.com/cms/pages/20221207/3aa2012e060f408782b7f92030164a62/en_dk_eg-ww-09.png" onclick="window.location.replace('/Shop')">
  </div>
  </div>
</div>
<div class="container-fluid color">
  <div class="row  p-2 gx-1 my-2" >
    <div class="col-12 mb-3">
      <img width="100%" src="https://f.nooncdn.com/cms/pages/20221207/3aa2012e060f408782b7f92030164a62/en_dk_eg-title-06.png" onclick="window.location.replace('/Shop')">
      </div>
      <div class="col-2">
        <img width="80%" src="https://f.nooncdn.com/cms/pages/20221207/3aa2012e060f408782b7f92030164a62/kid/en_dk_eg-kids-02.png" onclick="window.location.replace('/Shop')">
      </div>
      <div class="col-2">
        <img width="80%" src="https://f.nooncdn.com/cms/pages/20221207/3aa2012e060f408782b7f92030164a62/kid/en_dk_eg-kids-06.png" onclick="window.location.replace('/Shop')">
        </div>
        <div class="col-2">
          <img width="80%" src="https://f.nooncdn.com/cms/pages/20221207/3aa2012e060f408782b7f92030164a62/kid/en_dk_eg-kids-03.png" onclick="window.location.replace('/Shop')">
      </div>
      <div class="col-2">
        <img width="80%" src="https://f.nooncdn.com/cms/pages/20221207/3aa2012e060f408782b7f92030164a62/kid/en_dk_eg-kids-01.png" onclick="window.location.replace('/Shop')">
</div>
<div class="col-2">
  <img width="80%" src="https://f.nooncdn.com/cms/pages/20221207/3aa2012e060f408782b7f92030164a62/kid/en_dk_eg-kids-07.png" onclick="window.location.replace('/Shop')">
  </div>
  <div class="col-2">
    <img width="80%" src="https://f.nooncdn.com/cms/pages/20221207/3aa2012e060f408782b7f92030164a62/kid/en_dk_eg-kids-05.png" onclick="window.location.replace('/Shop')">
</div>
</div>
<div class="container-fluid color">
  <div class="row  p-2 gx-1 my-2" >
    <div class="col-12 mb-3">
      <img width="100%" src="https://f.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_title-10.png">
      </div>
      <div class="col-2">
        <img width="80%" src="https://f.nooncdn.com/cms/pages/20221017/735ff7d65c5e47cc0062fa96d9e7170a/en_dk_eg-brand-01.png" onclick="window.location.replace('/Shop')">
        </div>
        <div class="col-2">
          <img width="80%" src="https://f.nooncdn.com/cms/pages/20220508/b0a6d41a886c06e025a9075f0de39cff/en_brand_14.png" onclick="window.location.replace('/Shop')">
      </div>
      <div class="col-2">
        <img width="80%" src="https://f.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_01.png" onclick="window.location.replace('/Shop')">
        </div>
        <div class="col-2">
          <img width="80%" src="https://f.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_02.png" onclick="window.location.replace('/Shop')">
          </div>
          <div class="col-2">
            <img width="80%" src="https://f.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_03.png" onclick="window.location.replace('/Shop')">
      </div>
      <div class="col-2">
        <img width="80%" src="https://f.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_04.png" onclick="window.location.replace('/Shop')">
      </div>
      </div>
      <div class="row p-2 gx-1 my-2">
        <div class="col-2">
          <img width="80%" src="https://f.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_05.png" onclick="window.location.replace('/Shop')">
          </div>
          <div class="col-2">
            <img width="80%" src="https://f.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_06.png" onclick="window.location.replace('/Shop')">
      </div>
      <div class="col-2">
        <img width="80%" src="https://f.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_08.png" onclick="window.location.replace('/Shop')">
        </div>
        <div class="col-2">
          <img width="80%" src="https://f.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_09.png" onclick="window.location.replace('/Shop')">
      </div>
      <div class="col-2">
        <img width="80%" src="https://f.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_10.png" onclick="window.location.replace('/Shop')">
        </div>
        <div class="col-2">
          <img width="80%" src="https://f.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_11.png" onclick="window.location.replace('/Shop')">
      </div>
      </div>
      <div class="row p-2 gx-1 my-2">
        <div class="col-2">
          <img width="80%" src="https://f.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_12.png" onclick="window.location.replace('/Shop')">
          </div>
          <div class="col-2">
            <img width="80%" src="https://f.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_13.png" onclick="window.location.replace('/Shop')">
       </div>
       <div class="col-2">
        <img width="80%" src="https://f.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_15.png" onclick="window.location.replace('/Shop')">
       </div>
       <div class="col-2">
        <img width="80%" src="https://f.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_16.png" onclick="window.location.replace('/Shop')">
       </div>
       <div class="col-2">
        <img width="80%" src="https://f.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_17.png" onclick="window.location.replace('/Shop')">
        </div>
        <div class="col-2">
          <img width="80%" src="https://f.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_18.png" onclick="window.location.replace('/Shop')">
          </div>
          </div>
       </div>
      </div>
<!-- <button class="btn btn-info" routerLink="/Profile">Take Round!</button> -->
