<div class="col-lg-12">
  <div class="item">
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 ">
      <ng-container *ngFor="let SingleProduct of products ; let i=index">

        <div class="col px-3 py-4 border-1 rounded-2 " *ngIf="SingleProduct.quantity > 0">
          <div class="card h-100 rounded-0 ">
            <button class="w-100 border-0 rounded-0 bg-white "
            [routerLink]="['/ProductDetails', SingleProduct.id]">
              <img src="http://www.AhmedShaban.somee.com/wwwroot/ProductImages/{{SingleProduct.productImages[0]}}" class="w-50 card-img-top" [alt]="SingleProduct.description">
            </button>
            <div class="card-body text-center ">
              <p class="card-title my-3 ">{{SingleProduct.description}}</p>
              <h5 class="card-text "> <span>{{"EGP" | translate}}</span> {{SingleProduct.unitPrice}}.00</h5>
              <p style="font-size: 12px;" *ngIf="SingleProduct.unitPrice > 0"><span
                  style="text-decoration-line: line-through;">{{"EGP" | translate}}
                  {{(SingleProduct.unitPrice*(100+SingleProduct.discount)/100)| number: '1.0-0'}}
                </span> <span class="fw-bolder ms-2" style="color:rgb(137, 225, 4)">
                  {{SingleProduct.discount}}%
                  {{"OFF" | translate}}</span>

              </p>
              <div class="d-flex justify-content-between ">
                <p class="yellow-badge ps-1">{{"express" | translate}}</p>

              </div>
            </div>
          </div>
        </div>
      </ng-container>

    </div>
  </div>
</div>
